/* CSS for Overall Site */
* {
    font-family:'Courier New', Courier, monospace;
    color: #050505;
}

html,
body {
    height: 100%;
    padding-left: 50px;
    padding-right: 50px;
}


body {
    width: 100%;
    margin: 0 auto;
    background: #f3f8fd;
    background: -webkit-linear-gradient(#f3f8fd, #a9e4f3);
    background-attachment: fixed;
    
}

/* Responsive CSS */
@media screen and (max-width: 786px) {
    .left,
    .main,
    .right {
        width: 100%;
    }
}


/* CSS for containers and individual tags */
.activity-form-container {
    border: 1px solid rgb(3, 18, 85);
    text-align: center
}


#activities_container {
    display: grid;
    border-top: 5px, solid #050505; 
    grid-template-columns: repeat(1, 1fr);
    grid-gap: 7px;
    max-width: 500px;
    font-size: 16px;
    text-align: left
}


p {
    font-display: bold
    }


#update-activity{
 border: 1px solid rgb(3, 18, 85);
 text-align: center
}


#activities_container{
    color: #050505;
    
}

textarea {
    max-width: 90%
}

input {
    max-width: 90%
}

#create-button {
    max-width: 90%
}

select {
    max-width: 90%
}